body{
	background-color: #fbfaf8;
}

i{
	font-size:24px;
	color: #f78702;
}

#food-item{
	margin: auto;
}

.centre{
	text-align: center;
}

.text{
    font-family: "BlockBertholdTextured";
    font-weight: 900;
    font-style: normal;
    color: #000;
    opacity: .4;
}