textarea:focus, input:focus{
    outline: none;
}

a{
    text-decoration: none !important;
}

body{
	background-color: #fbfaf8;
}

#maps{
	background-image: url("../public/maps.jpg");
	z-index: 0;
}

.centre{
	text-align: center;
}

#header{
	padding: 0;
}

#logo{
	width: 50px;
	height: 79px;
	position: relative;
	bottom: -20px;
	border-radius: 50%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0;
}

#location{
	padding: 10px;
	border-radius: 20%;
	background-color: #fbfaf8;
	border-color: white;
	text-align: center;
	width: 30%;
	height: 50%;
	margin-right: 5%;
}

#collapsibleNavbar{
	width: 30%;
}

#search{
	padding: 0;
	text-align: center;
}

#navbarButton{
	margin-left: 5%;
	margin-right: 5%;
	padding: 0;
}

.text{
    font-family: "BlockBertholdTextured";
    font-weight: 900;
    font-style: normal;
    color: #000;
    opacity: .4;
}

.modal-dialog,
.modal-content {
    height: 80%;
    text-align: center;
}

.modal-header{
	font-family: "BlockBertholdTextured";
    font-weight: 900;
    font-style: normal;
    color: #000;
    opacity: .4;
    letter-spacing: 0.5px;
}

.modal-title{
	width: 100%;
	text-align: center;
}

#modal-button{
	position: relative;
	transform: translate(65%,-60%);
	text-align: center;
	border-radius: 50%;
	opacity: 1;
	background-color: #ffffff;
}

.modal-body{
	background-color: #e8e0da;
	/* 100% = dialog height, 60px = header +footer*/
    max-height: calc(100% - 120px);
}

.modal-footer{
	background-color: #e8e0da;
}

#modal-button2{
	background-color: #e70;
	color: #fff;
	border-radius: 25px;
	font-family: "BlockBertholdTextured";
}

#user{
	padding: 5px;
	border: none;
	width: 80%;
}

#user-search{
	padding: 5px ;
	border: none;
	width: 70%;
}

.input{
	background-color: #ffffff;
	text-align: start;
	border-radius: 25px;
}

#about-img{
	width: 100%;
	cursor: not-allowed;
	height: 100%;
}