/*Common CSS*/

textarea:focus, input:focus{
    outline: none;
}

a{
    text-decoration: none !important;
}

body{
	background-color: #fbfaf8;
}

.text{
    font-family: "BlockBertholdTextured";
    font-weight: 900;
    color: #000;
}

.centre{
	text-align: center;
}


/* Navbar */
#header{
	padding: 0;
}

#logo{
	height: 79px;
	bottom: -20px;
	border-radius: 50%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0;
}

#location{
	padding: 10px;
	border-radius: 20%;
	background-color: #fbfaf8;
	text-align: center;
	width: 30%;
	margin-right: 5%;
}

#collapsibleNavbar{
	margin-left: 5%;
	width: 30%;
}

#search{
	padding: 0;
	text-align: center;
}

#navbarButton{
	margin-left: 5%;
	padding: 0;
}


/* Modal */

.modal-dialog,
.modal-content {
    height: 80%;
}

.modal-title{
	width: 100%;
	text-align: center;
}

.modal-footer,
.modal-body{
	background-image: url("../public/maps.jpg");
}

#modal-button2{
	background-color: #e70;
	color: #fff;
	border-radius: 25px;
	font-family: "BlockBertholdTextured";
}

#user{
	padding: 5px;
	border: none;
}

.input{
	background-color: #ffffff;
	border-radius: 25px;
}

/* About image*/
#about-img{
	width: 100%;
	cursor: not-allowed;
}



/* footer Section*/
#footer{
	background-color: #243e8e;
	color: floralwhite;
}

#footer-icon{
    font-size: 40px;
    width: 50px;
    text-align: center;
    color: white;
}

.fa-facebook-square{
	background: #3B5998;
}

.fa-twitter-square{
	background: #55ACEE;
}

.fa-linkedin-square{
    background: #007bb5;
}

.fa-youtube{
    background: #bb0000;
}

.fa-instagram-square{
    background: #bf15a4;
}


/*user-login*/
#profileImage {
    background: #d0cfce;
    font-size: 24px;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    max-width: 50px;
    margin: 0;
}